<header>
  <h1><a href="{{ "index.html" | prepend : site.baseurl }}">{{ site.title }}</a></h1>
</header>
<aside>
  <nav>
    <ul>
      <li><a href="{{ "/index.html" | prepend: site.baseurl }}">Start</a></li>
      <li><a href="{{ "/notes" | prepend: site.baseurl }}">Notes</a></li>
      <li><a href="{{ "/landau" | prepend: site.baseurl }}">Landau damping</a></li>
      <li><a href="{{ "/kuramoto" | prepend: site.baseurl }}">Kuramoto model</a></li>
      <li><a href="{{ "/publications" | prepend: site.baseurl }}">Publications</a></li>
      <li><a href="{{ "/about" | prepend: site.baseurl }}">About me</a></li>
    </ul>
  </nav>
</aside>
